<html>
<head>
	<title>bgxord</title>
	<meta charset="utf-8"/>
	<style>
		.button {{
			width: 45%;
			height: 60px;
			}}
		.btn-text {{
			font-size: 20px;
			}}
		.center {{
			text-align: center;
			}}
		.pic {{
			height: auto;
			vertical-align: middle;
			margin-right: 4%;
			border: 1px solid #;
			border-radius: 5%;
			}}
	</style>
</head>
<body>
	<div class="center">
		<form action="/" method="POST">
			<button class="button" type="submit" name="cmd" value="change"><span class="btn-text">Change &lt;3</span></button>
			<button class="button" type="submit" name="cmd" value="kill"><span class="btn-text">Kill &lt;/3</span></button>
		</form>
	</div>
	<br />
	<div style="margin-left: 4%;">
		<img src="/img/1" width="22%" class="pic"/>
		<img src="/img/2" width="22%" class="pic"/>
		<img src="/img/f" alt="Image" width="42%" class="pic"/>
	</div>
	<br />
	<br />
	<form action="/" method="POST">
		<strong>Log:</strong> <button style="float: right;" type="submit" name="cmd" value="clear">Clear</button><br/>
	</form>

	<div style="border: 1px solid">
		<code>{}</code>
	</div>
</body>
</html>
